<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-charts/0.2.7/angular-charts.min.js"></script>
<div class="container">
	<div class="row">
		<div class="col-sm-12" id = "topText">
			<h1>Polls</h1>
			<h4>Below is the list of existing polls.. Feel free to start voting</h4>
			<blockquote>Thinking isn't agreeing or disagreeing. That's voting! - <i><a href="https://www.wikipedia.org/wiki/Robert_Frost" target="_blank">Robert Frost</a></i></blockquote>
		</div>
		<div class="col-sm-12">
			<!-- List Polls -->
			<div  id="pollsTable">
				<table class="table">
					<thead id="pollsTitle">
						<tr>
							<th>Poll Title</th>
							<th>Poll Description</th>
						</tr>
					</thead>
					<tbody id="pollListBody">
						<tr ng-repeat="poll in pollsCtrl.polls" 
							ng-class="{active:$index==pollsCtrl.selectedRow}"
							ng-click="pollsCtrl.rowSelected($index)">
							<td>{{poll.title}}</td>
							<td>{{poll.description}}</td>
						</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-12" ng-show="pollsCtrl.selectedRow > -1">
		<div class="col-sm-6">
			<div id = "pollDetails">
				<h3 id="pollDetailsTitle"><b>Title:</b></h3>
				<h4>{{pollsCtrl.polls[pollsCtrl.selectedRow].title}}</h4>
				<br>
				<h3 id="pollDetailsTitle"><b>Description:</b></h3>
				<h4>{{pollsCtrl.polls[pollsCtrl.selectedRow].description}}</h4>
			</div>
		</div>
		<div class="col-sm-6">
			<div id = "pollVote">
				<!-- List items -->
				<div id="pollsVoteTable">
					<table class="table">
						<thead id="pollsVoteTitle">
							<tr>
								<th>Items</th>
							</tr>
						</thead>
						<tbody id="pollListBody">
							<tr ng-repeat="item in pollsCtrl.polls[pollsCtrl.selectedRow].items" 
								ng-class="{active:$index==pollsCtrl.selectedItemRow}"
								ng-click="pollsCtrl.itemSelected($index)">
								<td><b>{{item.name}}</b> <i>({{item.votes}} votes)</i></td>
							</tr>
					</table>
				</div>
				<br>
				<!-- Vote Button -->
				<div>
					<!-- class="btn btn-inverse btn-lg btn-register" -->
					<button 
						class="voteButton"
						ng-click="pollsCtrl.voteItem()"
						ng-show="pollsCtrl.selectedItemRow > -1">
					Vote
					</button>
				</div>
			</div>
		</div>
		<div id="pollChartDiv">
			<canvas id="pollsChart"  
				class="chart chart-bar"
				chart-data="{{pollsCtrl.chart.data}}" 
				chart-labels="{{pollsCtrl.chart.labels}}" 
				chart-series="{{pollsCtrl.chart.series}}"></canvas>
		</div>
	</div>
</div>
<br>